
@{
    ViewBag.Title = "Услуги";
}

<div class="linkDiv">
    <a href="@Url.Action("Index", "Home")">Главная ></a>
    <a href="#"> Услуги</a>
</div>

<div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'ЮРИДИЧЕСКИМ_ЛИЦАМ')">ЮРИДИЧЕСКИМ ЛИЦАМ</button>
    <button class="tablinks" onclick="openCity(event, 'ФИЗИЧЕСКИМ_ЛИЦАМ')">ФИЗИЧЕСКИМ ЛИЦАМ</button>
    <button class="tablinks" onclick="openCity(event, 'ВЗЫСКАНИЕ_ДОЛГОВ')">ВЗЫСКАНИЕ ДОЛГОВ</button>
    <button class="tablinks" onclick="openCity(event, 'РОЗЫСК_ИМУЩЕСТВА')">РОЗЫСК ИМУЩЕСТВА</button>
</div>

<div id="ЮРИДИЧЕСКИМ_ЛИЦАМ" class="tabcontent" style="display:block;">
    <div class="servicesDiv">
        <div class="serviceDiv">
            <a href="@Url.Action("Service", "Home",new {id = 1})"> <img src="~/images/icon_services.png" alt="Заключение сделок" /> </a>
            <a href="@Url.Action("Service", "Home",new {id = 1})">Заключение<br /> сделок</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
    </div>
</div>

<div id="ФИЗИЧЕСКИМ_ЛИЦАМ" class="tabcontent">
    <div class="servicesDiv">
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
        <div class="serviceDiv">
            <a href="#"> <img src="~/images/icon_services.png" alt="услуга1" /> </a>
            <a href="#">Название<br />услуги</a>
        </div>
    </div>
</div>

<div id="ВЗЫСКАНИЕ_ДОЛГОВ" class="tabcontent">
    <h3>ВЗЫСКАНИЕ ДОЛГОВ</h3>
</div>

<div id="РОЗЫСК_ИМУЩЕСТВА" class="tabcontent propertySearchTab">

    <div class="searchDivText">
        Услуга поиска имущества должников оказывается на всей территории РФ. <br> Вам нужно только оставить
        контактную
        информацию и ввести данные о должнике.
    </div>
    <div class="searchDiv">

        <div class="allFormDiv">
            @using (Html.BeginForm("PropertySearch", "Home", FormMethod.Post, new { enctype = "application/x-www-form-urlencoded" }))
            {
                <div class="searchDivDebtorText">
                    Данные о должнике:
                </div>
                <div class="searchFormDebtorDiv">

                    <input name="DebtorName" onblur="if(this.value=='' ) this.value='Ф.И.0' "
                           onfocus="if(this.value=='Ф.И.0' ) this.value='' " value='Ф.И.0' />

                    <input onblur="if(this.value=='' ) this.value='Место регистрации' "
                           onfocus="if(this.value=='Место регистрации' ) this.value='' " value='Место регистрации'
                           id="registr " name="Registr" />

                    <label for="date">Дата рождения: </label>

                    <input type="date" id="date" name="BirthDate" />

                    <input onblur="if(this.value=='' ) this.value='Наличие супруга (Ф.И.О если есть)' "
                           onfocus="if(this.value=='Наличие супруга (Ф.И.О если есть)' ) this.value='' "
                           value='Наличие супруга (Ф.И.О если есть)' id="spouse" name="Spouse" />

                    <textarea onblur="if(this.value=='' ) this.value='Иная имеющаяся информация'"
                              onfocus="if(this.value=='Иная имеющаяся информация' ) this.value='' "
                              id="DebtorExtraInf" name="DebtorExtraInf">Иная имеющаяся информация</textarea>

                </div>

                <div class="searchFormDivText">
                    Контактная информация:
                </div>

                <div class="searchFormContactDiv">
                    <input name="Name" onblur="if(this.value=='' ) this.value='Ваше имя' "
                           onfocus="if(this.value=='Ваше имя' ) this.value='' " value='Ваше имя' />
                    <input type="tel" onblur="if(this.value=='' ) this.value='Телефон' "
                           onfocus="if(this.value=='Телефон' ) this.value='' " value='Телефон' pattern="\+7[0-9]{10}"
                           placeholder="+7XXXXXXXXXX" id="phone " name="Phone" />
                    <input type="email" onblur="if(this.value=='' ) this.value='Email' "
                           onfocus="if(this.value=='Email' ) this.value='' " value='Email'
                           pattern="@ViewBag.EmailPattern" placeholder="example@mail.ru"
                           id="email" name="Email" />
                </div>

                <div class="searchFormDivText">
                    Оформление:
                </div>
                <button type="submit" id="submitButton"
                        onmouseover="var img = document.getElementById('cartImg'); img.src = '../images/darkCart.png';"
                        onmouseout="var img = document.getElementById('cartImg'); img.src = '../images/blueCart.png';">
                    <img id="cartImg" src="~/images/blueCart.png" />
                    <div>Купить услугу - 500₽</div>
                </button>
            }

        </div>
    </div>

</div>
