@{
    ViewBag.Title = "Видео";
}

<div class="linkDiv">
    <a href="@Url.Action("Index", "Home")">Главная ></a>
    <a href="#"> Видео</a>
</div>

<table class="videoTable">
    <tr>
        <td>
            <article class="videoDiv">
                <h2>Rick Astley - Never Gonna Give You Up (Video)</h2>
                <div class="videoImgDiv">
                    <h2>Фото видео</h2>
                </div>
                <p class="date">
                    01.04.2020 20:28
                </p>
                <div class="videoActionDiv">
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,telegram"></div>
                    <a href="@Url.Action("Video", "Home",new {id = 1})"><button>Подробнее</button></a>
                </div>
            </article>
        </td>
        <td>
            <article class="videoDiv">
                <h2>Oliver Tree - I'm Gone [Official Music Video]</h2>
                <div class="videoImgDiv">
                    <h2>Фото видео</h2>
                </div>
                <p class="date">
                    06.03.2020 14:38
                </p>
                <div class="videoActionDiv">
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,telegram"></div>
                    <a href="@Url.Action("Video", "Home",new {id = 2})"><button>Подробнее</button></a>
                </div>
            </article>
        </td>
    </tr>

    <tr>
        <td>
            <article class="videoDiv">
                <h2>Название видео</h2>
                <div class="videoImgDiv">
                    <h2>Фото видео</h2>
                </div>
                <p class="date">
                    01.04.2020 20:28
                </p>
                <div class="videoActionDiv">
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,telegram"></div>
                    <a href="#"><button>Подробнее</button></a>
                </div>
            </article>
        </td>
        <td>
            <article class="videoDiv">
                <h2>Название видео</h2>
                <div class="videoImgDiv">
                    <h2>Фото видео</h2>
                </div>
                <p class="date">
                    01.04.2020 20:28
                </p>
                <div class="videoActionDiv">
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,telegram"></div>
                    <a href="#"><button>Подробнее</button></a>
                </div>
            </article>
        </td>
    </tr>

    <tr>
        <td>
            <article class="videoDiv">
                <h2>Название видео</h2>
                <div class="videoImgDiv">
                    <h2>Фото видео</h2>
                </div>
                <p class="date">
                    01.04.2020 20:28
                </p>
                <div class="videoActionDiv">
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,telegram"></div>
                    <a href="#"><button>Подробнее</button></a>
                </div>
            </article>
        </td>
        <td>
            <article class="videoDiv">
                <h2>Название видео</h2>
                <div class="videoImgDiv">
                    <h2>Фото видео</h2>
                </div>
                <p class="date">
                    01.04.2020 20:28
                </p>
                <div class="videoActionDiv">
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,telegram"></div>
                    <a href="#"><button>Подробнее</button></a>
                </div>
            </article>
        </td>
    </tr>
</table>

<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="https://yastatic.net/share2/share.js"></script>